@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e6e9fb;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 4px 4px #f0f2fd;
  max-width: 775px;
  width: 100%;
}

.rating-card {
  text-align: center;
}

.rating-card h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 24px;
  max-width: 458px;
  width: 100%;
  margin: 20px auto;
  color: #0f172a;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 40px;
  max-width: 548px;
  width: 100%;
}

.star {
  font-size: 70px;
  color: #e2e8f0;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 20px;
}

.star:hover,
.star.selected {
  color: #facc15;
}

.feedback-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #374151;
  max-width: 647px;
  width: 100%;
  margin: 20px auto;
}

@media (max-width: 800px) {
  body {
    height: auto;
  }

  .container {
    width: 90%;
    margin: 20px auto;
  }

  .stars {
    flex-wrap: wrap;
  }
}